---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "2024-Present",
    title: "UE5 - C++ NETWORK DEVELOPER",
    company: "FROMDUST STUDIO",
    description: "Responsible for implementing Epic Online Services (Back-End Services) for networking features, including Peer-to-Peer and Dedicated Servers, using cloud services.",
    link: "https://fromdust.studio/",
  },
  {
    date: "2023-2024",
    title: "UE5 - C++ GAMEPLAY DEVELOPER",
    company: "INSIDE DARK STUDIO",
    description: "Responsible for implementing Steam Online Services for networking, integrating replication in gameplay, optimizing environments, and creating builds for Win and Mac. My role involved a mix of team collaboration and individual tasks, ensuring high-quality results across various aspects of the project.",
    link: "https://insidedarkstudio.com/",
  },
  {
    date: "2021-2023",
    title: "UE5 - GENERALIST & WEB DEVELOPMENT",
    company: "FREELANCE",
    description: "I imported and integrated 3D models, textures, animations, and other assets into UE5 projects. I identified and resolved performance bottlenecks, maintaining clear and effective communication with clients to understand their needs and provide regular project updates.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
