---
const personalImageAlt = "Ahumada Federico"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import PatreonIcon from "../components/icons/Patreon.astro"
import YoutubeIcon from "../components/icons/Youtube.astro"
import DiscordIcon from "../components/icons/Discord.astro"
import TwitchIcon from "../components/icons/Twitch.astro"
import SocialPill from "../components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/fedahumada/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    I'm Federico Ahumada
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 years of experience. <br>
    <strong>Unreal Engine Game Developer</strong> specialized in network and multiplayer gameplay.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/fedahumada/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://www.github.com/fedahumada/">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="https://www.patreon.com/fedahumada">
      <PatreonIcon class="size-4" />
      Patreon
    </SocialPill>
    <SocialPill href="https://discord.gg/EXjKRQZuvx">
      <DiscordIcon class="size-4" />
      Discord
    </SocialPill>
    <SocialPill href="https://www.youtube.com/channel/UCIQKsRB6SaiWnN4Cd8hJS2w">
      <YoutubeIcon class="size-4" />
      Youtube
    </SocialPill>
    <SocialPill href="https://www.twitch.tv/fedahumada">
      <TwitchIcon class="size-4" />
      Twitch
    </SocialPill>
    
  </nav>
</div>
